
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Rubik', sans-serif;
}
.main_wrapper{
    
    display: flex;
    justify-content: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
    .wrapper_container{
        display: flex;
        // justify-content: center;
        // align-items: center;
        width: 60rem;
        height: 40rem;
        // border: 2px solid black;
        flex-direction: column;

        .topBar_container{
            margin-top: 1rem;
            display: flex;
            gap: 2rem;
            justify-content: center;
            border: 2px solid black;
            a{
                text-decoration: none;
                color: black;
                display: flex;
                align-items: center;
                &:hover{
                    color: orange;
                }
            }
            .line{
                width: 2px;
                height: 2rem;
                background-color: black;
                display: flex;
                align-items: center;
            }
        }
        .manageBox{
            display: flex;
            border: 2px solid black;
            height: 35rem;
            .left_box{
                width: 50%;
                /* Style the tab */
                .tab {
                    overflow: hidden;
                    border: 1px solid #ccc;
                    background-color: #f1f1f1;
                }
                 /* Style the buttons inside the tab */
                .tab button {
                    background-color: inherit;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 14px 16px;
                    transition: 0.3s;
                    font-size: 17px;
                }
                
                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: #ddd;
                }
                
                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: #ccc;
                }
                
                /* Style the tab content */
                .tabcontent {
                    display: none;
                    padding: 6px 12px;
                    border: 1px solid #ccc;
                    border-top: none;
                   
                }
                
                .cashier_div{
                    display: flex;
                    gap: 5rem;
                    background-color: rgb(192, 215, 251);
                    font-size: 1.3rem;
                }
                .cashier_table{
                    .row {
                        display: flex;
                        height: 3rem;
                        gap: 6rem;
                        display: flex;
                        align-items: center;
                        font-size: 1.1rem;
                        &:hover{
                            background-color: antiquewhite;
                        }
                        .text_box{
                            display: flex;
                            gap: 1rem;
                        }
                        .icon{
                            font-size: 1.5rem;
                            display: flex;
                            align-items: center;
                            i{
                                &:hover{
                                    color: orange;
                               }
                            }
                        }
                      
                    }
                }
                //---------food Section----------
                .food_div{
                    display: flex;
                    gap: 4rem;
                    background-color: rgb(192, 215, 251);
                    font-size: .9rem;

                }
                .food_table{
                    .row {
                        display: flex;
                        height: 3rem;
                        gap: 4rem;
                        display: flex;
                        align-items: center;
                        font-size: 1.1rem;
                        &:hover{
                            background-color: antiquewhite;
                        }
                        .food_code{
                            display: flex;
                            gap: 1rem;
                        }
                        .icon{
                            font-size: 1.5rem;
                            display: flex;
                            align-items: center;
                            i{
                                &:hover{
                                    color: orange;
                               }
                            }
                        }
                      
                    }
                }
                //DrinkSection-----------
                .drink_div{
                    display: flex;
                    gap: 4rem;
                    background-color: rgb(192, 215, 251);
                    font-size: .9rem;

                }
                .drink_table{
                    .row {
                        display: flex;
                        height: 3rem;
                        gap: 4rem;
                        display: flex;
                        align-items: center;
                        font-size: 1.1rem;
                        &:hover{
                            background-color: antiquewhite;
                        }
                        .drink_code{
                            display: flex;
                            gap: 1rem;
                        }
                        .icon{
                            font-size: 1.5rem;
                            display: flex;
                            align-items: center;
                            i{
                                &:hover{
                                    color: orange;
                               }
                            }
                        }
                      
                    }
                }
                    
            }
            .right_box{

                //-------cashier box-------
                // margin-top: 2rem;
                background-color: rgb(240, 236, 244);
                width: 50%;
                height: 100%;
                .box{
                    .title{
                        margin-top: 1rem;
                        display: flex;
                        justify-content: center;
                        font-size: 2rem;
                    }
                    .box_wrapp{
                        margin-top: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2rem;
                        img{
                            width: 13rem;
                            height: 20rem;
                            object-fit: cover;
                            border: 1px solid black;
                        }
                        .wrap_img_info{
                            font-size: 1.2rem;
                            .details{
                                .name{
                                    display: flex;
                                }
                                .gender{
                                    display: flex;

                                }
                                .age{
                                    display: flex;

                                }
                                .Hired_date{
                                    display: flex;

                                }
                                .serve{
                                    display: flex;

                                }
                                .login{
                                    display: flex;

                                }
                                .pass{
                                    display: flex;

                                }
                                .last_login{
                                    display: flex;

                                }
                            }
                        }
                    }
                }
                .cashier_bottom{
                    margin-left: 1rem;
                    margin-top: 1.5rem;
                    .lastlogin{
                        display: flex;
                        
                    }
                    .lastorder{
                        display: flex;
                    }
                }
                //---------food box---------
                .food_title{
                    margin-top: 2rem;
                    display: flex;
                    justify-content: center;
                    font-size: 3rem;
                }
                .image{
                    display: flex;
                    justify-content: center;
                    
                    img{
                        width: 25rem;
                        height: 20rem;
                        display: flex;
                        justify-content: center;
                        object-fit: cover;
                        border: 1px solid black;
                    }
                }
                .food_text{
                    margin-top: 2rem;
                    display: flex;
                    gap: 5rem;
                    justify-content: center;
                    font-size: 1.3rem;
                    .left_text{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                    }
                    .right_text{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                    }
                }
                // Drink section --------
                background-color: rgb(240, 236, 244);
                width: 50%;
                height: 100%;
                .box{
                    .title{
                        margin-top: 1rem;
                        display: flex;
                        justify-content: center;
                        font-size: 2rem;
                    }
                    .box_wrapp{
                        margin-left: .5rem;
                        margin-top: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 2rem;
                        img{
                            width: 13rem;
                            height: 20rem;
                            object-fit: cover;
                            border: 2px solid black;
                        }
                        .wrap_img_info{
                            font-size: 1.2rem;
                            .details{
                                .code{
                                    display: flex;
                                }
                                .name{
                                    display: flex;

                                }
                                .cate{
                                    display: flex;

                                }
                                .price{
                                    display: flex;

                                }
                                .order{
                                    display: flex;

                                }
                                .note{
                                    display: flex;
                                    flex-direction: column;

                                }
                               
                            }
                        }
                       
                    }
                    .bottom{
                        margin-top: 1rem;
                        display: flex;
                        margin-left: 2rem;
                        gap: 1rem;
                       
                        
                    }
                }
            }
        }
    }
}


  
 



